<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fimi.gdpj.shoppingcart.repository.ShoppingCartMapper">

    <resultMap id="shopping-cart-detail-query" type="indi.fimi.gdpj.shoppingcart.domain.ShoppingCartDetail">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="foodstuffId" column="foodstuff_id"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <resultMap id="shopping-cart-detail-info-query" type="indi.fimi.gdpj.shoppingcart.domain.ShoppingCartDetailInfo">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="foodstuffId" column="foodstuff_id"/>
        <result property="amount" column="amount"/>
        <result property="uname" column="uname"/>
        <result property="foodstuffName" column="foodstuff_name"/>
        <result property="imagePath" column="image_path"/>
        <result property="singlePrice" column="price"/>
    </resultMap>

    <resultMap id="address-query" type="indi.fimi.gdpj.shoppingcart.domain.Address">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="consignee" column="consignee"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="postcode" column="postcode"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
        <result property="address" column="address"/>
    </resultMap>

    <insert id="addShoppingCartDetail" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO shopping_cart_detail (`uid`,`foodstuff_id`,`amount`) VALUES (#{uid},#{foodstuffId},#{amount})
    </insert>

    <update id="modifyShoppingCartDetailById">
        UPDATE shopping_cart_detail SET uid=#{uid},foodstuff_id=#{foodstuffId},amount=#{amount} WHERE id=#{id}
    </update>

    <select id="getShoppingCartDetailById" resultMap="shopping-cart-detail-query">
        SELECT * FROM shopping_cart_detail WHERE id=#{id}
    </select>

    <select id="getShoppingCartDetailInfoById" resultMap="shopping-cart-detail-info-query">
        SELECT scd.*,gu.uname,fs.name AS foodstuff_name,fs.image_path,fs.price FROM ((shopping_cart_detail scd LEFT JOIN gdpj_user gu ON scd.uid=gu.id) LEFT JOIN foodstuff fs ON scd.foodstuff_id=fs.id) WHERE scd.id=#{id}
    </select>

    <select id="getAllShoppingCartDetailListByUid" resultMap="shopping-cart-detail-query">
        SELECT * FROM shopping_cart_detail WHERE uid=#{uid}
    </select>

    <select id="getAllShoppingCartDetailInfoListByUid" resultMap="shopping-cart-detail-info-query">
        SELECT scd.*,gu.uname,fs.name AS foodstuff_name,fs.image_path,fs.price FROM ((shopping_cart_detail scd LEFT JOIN gdpj_user gu ON scd.uid=gu.id) LEFT JOIN foodstuff fs ON scd.foodstuff_id=fs.id) WHERE scd.uid=#{uid}
    </select>

    <delete id="deleteShoppingCartDetailById">
        DELETE FROM shopping_cart_detail WHERE id=#{id}
    </delete>

    <delete id="deleteAllShoppingCartDetailsByUid">
        DELETE FROM shopping_cart_detail WHERE uid=#{uid}
    </delete>

    <insert id="addAddress" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO address (`consignee`,`province`,`city`,`postcode`,`create_time`,`creator`,`modify_time`,`modifier`,`phone`,`uid`,`address`) VALUES (#{consignee},#{province},#{city},#{postcode},#{createTime},#{creator},#{modifyTime},#{modifier},#{phone},#{uid},#{address})
    </insert>

    <update id="modifyAddressById">
        UPDATE address SET `consignee`=#{consignee},`province`=#{province},`city`=#{city},`postcode`=#{postcode},`create_time`=#{createTime},`creator`=#{creator},`modify_time`=#{modifyTime},`modifier`=#{modifier},`phone`=#{phone},`uid`=#{uid},`address`=#{address} WHERE `id`=#{id}
    </update>

    <select id="getAddressById" resultMap="address-query">
        SELECT * FROM address WHERE id=#{id}
    </select>

    <select id="getAddressListByUid" resultMap="address-query">
        SELECT * FROM address WHERE uid=#{uid}
    </select>

    <delete id="deleteAddressById">
        DELETE FROM address WHERE id=#{id}
    </delete>

</mapper>
