<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fimi.gdpj.transaction.repository.TransactionMapper">

    <resultMap id="transaction-order-query" type="indi.fimi.gdpj.transaction.domain.TransactionOrder">
        <id property="id" column="id"/>
        <result property="totalMoney" column="total_money"/>
        <result property="buyerId" column="buyer_id"/>
        <result property="ceateTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
        <result property="status" column="status"/>
    </resultMap>

    <resultMap id="transaction-order-detail-query" type="indi.fimi.gdpj.transaction.domain.TransactionOrderDetail">
        <id property="id" column="id"/>
        <result property="transactionOrderId" column="transaction_order_id"/>
        <result property="foodstuffId" column="foodstuff_id"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <resultMap id="payment-record-query" type="indi.fimi.gdpj.transaction.domain.PaymentRecord">
        <id property="id" column="id"/>
        <result property="transactionOrderId" column="transaction_order_id"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <select id="getAllTransactionOrderList" resultMap="transaction-order-query">
        SELECT * FROM transaction_order
    </select>

    <select id="getAllTransactionOrderDetailList" resultMap="transaction-order-detail-query">
        SELECT * FROM transaction_order_detail
    </select>

    <select id="getAllPaymentList" resultMap="payment-record-query">
        SELECT * FROM payment_record
    </select>
</mapper>