<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fimi.gdpj.base.repository.AdminMapper">

    <resultMap id="admin-user-query" type="indi.fimi.gdpj.base.domain.User">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="password" column="password"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
        <result property="typeName" column="type_name"/>
    </resultMap>

    <resultMap id="admin-auth-rule-query" type="indi.fimi.gdpj.base.domain.AuthRule">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
        <result property="order" column="order"/>
        <result property="ceateTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
        <result property="type" column="type"/>
        <result property="parent" column="parent"/>
        <result property="code" column="code"/>
    </resultMap>

    <resultMap id="admin-user-auth-query" type="indi.fimi.gdpj.base.domain.UserAuth">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="authId" column="auth_id"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <resultMap id="system-log-query" type="indi.fimi.gdpj.base.domain.SystemLog">
        <id property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
    </resultMap>

    <!-- system_log table -->
    <select id="getAllSystemLogList" resultMap="system-log-query">
        SELECT * FROM system_log
    </select>

    <!-- gdpj_user table -->
    <select id="getAllUserList" resultMap="admin-user-query">
        SELECT * FROM gdpj_user
    </select>

    <select id="getUserByUname" resultMap="admin-user-query">
        SELECT * FROM gdpj_user WHERE `uname`=#{uname}
    </select>

    <select id="getUserByUid" resultMap="admin-user-query">
        SELECT * FROM gdpj_user WHERE `id`=#{id}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO gdpj_user (`uname`,`password`,`create_time`,`type`,`type_name`) VALUES (#{uname},#{password},#{createTime},#{type},#{typeName})
    </insert>

    <update id="modifyUserByUid">
        UPDATE gdpj_user SET `uname`=#{uname},`password`=#{uname},`create_time`=#{createTime},`type`=#{type},`type_name`=#{typeName} WHERE `id`=#{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM gdpj_user WHERE `id`=#{id}
    </delete>

    <!-- auth_rule table -->
    <insert id="addAuthRule" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO auth_rule (`parent_id`,`name`,`order`,`create_time`,`creator`,`modify_time`,`modifier`,`type`,`parent`,`code`) VALUES (#{parentId},#{name},#{order},#{createTime},#{createor},#{modifyTime},#{modifier},#{type},#{parent},#{code})
    </insert>

    <update id="modifyAuthRuleById">
        UPDATE auth_rule SET `parent_id`=#{parentId},`name`=#{name},`order`=#{order},`create_time`=#{createTime},`creator`=#{creator},`modify_time`=#{modifyTime},`modifier`=#{modifier},`type`=#{type},`parent`=#{parent},`code`=#{code} WHERE `id`=#{id}
    </update>

    <delete id="deleteAuthRuleById">
        DELETE FROM auth_rule WHERE `id`=#{id}
    </delete>

    <!-- user_auth table -->
    <insert id="addUserAuth" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO user_auth (`uid`,`auth_id`,`create_time`,`creator`) VALUES (#{uid},#{authId},#{createTime},#{creator})
    </insert>

    <delete id="deleteUserAuthById">
        DELETE FROM user_auth WHERE `id`=#{id}
    </delete>


</mapper>