<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.fimi.gdpj.foodstuff.repository.FoodstuffMapper">

    <resultMap id="foodstuff-query" type="indi.fimi.gdpj.foodstuff.domain.Foodstuff">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="typeid" column="typeid"/>
        <result property="origin" column="origin"/>
        <result property="price" column="price"/>
        <result property="unit" column="unit"/>
        <result property="createTime" column="create_time"/>
        <result property="creator" column="creator"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
        <result property="isDiscount" column="is_discount"/>
        <result property="inventory" column="inventory"/>
        <result property="imagePath" column="image_path"/>
    </resultMap>

    <resultMap id="foodstuff-kind-query" type="indi.fimi.gdpj.foodstuff.domain.FoodstuffKind">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="createTime" column="create_time" jdbcType="DATE" />
        <result property="creator" column="creator"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="modifier" column="modifier"/>
    </resultMap>

    <insert id="addFoodstuff" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO foodstuff (`name`,`desc`,`typeid`,`create_time`,`creator`,`modify_time`,`modifier`,`origin`,`price`,`unit`,`is_discount`,`inventory`,`image_path`) VALUES (#{name},#{desc},#{typeid},#{createTime},#{creator},#{modifyTime},#{modifier},#{origin},#{price},#{unit},#{isDiscount},#{inventory},#{imagePath})
    </insert>

    <update id="modifyFoodstuffById">
        UPDATE foodstuff
        <trim prefix="set" suffixOverrides=",">
            <if test="null != name">`name`=#{name},</if>
            <if test="null != desc">`desc`=#{desc},</if>
            <if test="null != typeid">`typeid`=#{typeid},</if>
            <if test="null != createTime">`create_time`=#{createTime},</if>
            <if test="null != creator">`creator`=#{creator},</if>
            <if test="null != modifyTime">`modify_time`=#{modifyTime},</if>
            <if test="null != modifier">`modifier`=#{modifier},</if>
            <if test="null != origin">`origin`=#{origin},</if>
            <if test="null != price">`price`=#{price},</if>
            <if test="null != unit">`unit`=#{unit},</if>
            <if test="null != isDiscount">`is_discount`=#{isDiscount},</if>
            <if test="null != inventory">`inventory`=#{inventory},</if>
            <if test="null != imagePath">`image_path`=#{imagePath},</if>
        </trim>
        WHERE `id`=#{id}
    </update>

    <select id="getAllFoodstuffList" resultMap="foodstuff-query">
        SELECT * FROM foodstuff
    </select>

    <select id="getFoodstuffListByName" resultMap="foodstuff-query">
        SELECT * FROM foodstuff WHERE `name` LIKE CONCAT('%',#{name},'%')
    </select>

    <select id="getFoodstuffListByOrigin" resultMap="foodstuff-query">
        SELECT * FROM foodstuff WHERE `origin` LIKE CONCAT('%',#{origin},'%')
    </select>

    <select id="getFoodstuffById" resultMap="foodstuff-query">
        SELECT * FROM foodstuff WHERE id=#{id}
    </select>

    <select id="getFoodstuffImagePathById" resultType="java.lang.String">
        SELECT image_path FROM foodstuff WHERE id=#{id}
    </select>

    <delete id="deleteFoodstuffById">
        DELETE FROM foodstuff WHERE id=#{id}
    </delete>

    <insert id="addFoodstuffKind" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        INSERT INTO foodstuff_kind (`name`,`desc`,`create_time`,`creator`,`modify_time`,`modifier`) VALUES (#{name},#{desc},#{createTime},#{creator},#{modifyTime},#{modifier})
    </insert>

    <update id="modifyFoodstuffKindById">
        UPDATE foodstuff_kind
        <trim prefix="set" suffixOverrides=",">
            <if test="null != name">`name`=#{name},</if>
            <if test="null != desc">`desc`=#{desc},</if>
            <if test="null != createTime">`create_time`=#{createTime},</if>
            <if test="null != creator">`creator`=#{creator},</if>
            <if test="null != modifyTime">`modify_time`=#{modifyTime},</if>
            <if test="null != modifier">`modifier`=#{modifier},</if>
        </trim>
        WHERE `id`=#{id}
    </update>

    <select id="getAllFoodstuffKindList" resultMap="foodstuff-kind-query">
        SELECT * FROM foodstuff_kind
    </select>

    <select id="getFoodstuffKindById" resultMap="foodstuff-kind-query">
        SELECT * FROM foodstuff_kind WHERE id=#{id}
    </select>

    <delete id="deleteFoodstuffKindById">
        DELETE FROM foodstuff_kind WHERE id=#{id}
    </delete>

</mapper>
